* {
  font-family: courier;
}


.wallpaper {
  background: #FAF3DD;
}

.site {
  height: 600px;
  background-color: #FAF3DD;
}

.horiz {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.titlebanner {
  height: 6%;
  background-color: #FAF3DD;
  /*
  background-color: rgb(165, 42, 42);
  */
}

.sitebody {
  height: 90%;
  background-color: green;
}

.left {
  width: 30%;
  padding: 8px;
  border-color: white;
  /*
  background-color: rgb(152, 168, 134);
  */
  background-color: #ffdccc;
}

.topbar {
  height: 12%;
  background-color: #fcb1a6;
  margin: 8px;
}

.ingredientAdder {
  width: 90%;
  margin-left: 5%;
  margin-top: 8px;
  /*
  -ms-transform: translate(50%, 10%);
  transform: translate(50%, 10%);
   */
}

.pantrybox {
  /*line-height: 70px;
  */
  margin: 8px;
  height: 82%;
  background-color: #fcb1a6;
  font-size: 1.5vw;
}

.ingredientslist {
  margin-left: 16px;
  margin-right: 16px;
  height: 72%;
  background-color: white;
  font-size: 2vw;
  color: grey;
}

.buttonscontainer {
  margin: 16px;
  padding: 4px;
  height: 10%;
  background-color: rgb(159, 252, 252);
}

.right {
  /*
  text-align:center;
  */
  width: 70%;
  border-color: white;
  background-color: purple;
}

.searchbar {
  height: 8%;
  width: 90%;
  padding: 5%;
  border-radius: 8px;
  background-color: white;
  color: grey;
  font-size: 17px;
  /*
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-family: "Gill Sans", sans-serif;
  */
}

#searchbutton {
  /*height: 8%;
  */
  width: 25%;
  background-color: lightgreen;
  border-color: darkgreen;
}

#pantrydeletebutton {
  width: 100%;
  margin: 5px; /* or whatever you like */
  font-size: .93vw;
}

#pantrygeneratebutton {
  width: 100%;
  margin: 5px; /* or whatever you like */
  font-size: .93vw;
}

#addbutton {
  width: 40%;
  margin-left: 30%;
  margin-top: 4px;
  font-size: 1vw;
}

.buttons {
  margin: 5px;
}

.rightTop {
  height: 15%;
  background-color: chartreuse;
}

.search {
  width: 90%;
  margin-left: 5%;
  margin-top: 24px;
  font-size: 1.5vw
}

.rightBottom {
  height: 80%;
  background-color: cadetblue;
}

.recipeBox {
  margin: 16px;
  height: 72%;
  background-color: white;
  font-size: 1.5vw;
  overflow: scroll;
}


