* {
  font-family: courier;
}


.wallpaper {
  background: #ebebeb;
}

.site {
  height: 720px;
  background-color: #ebebeb;
}

.horiz {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.titlebanner {
  height: 4%;
  background-color: #ebebeb;
  /*
  background-color: rgb(165, 42, 42);
  */
}

.sitebody {
  height: 90%;
  background-color: #ebebeb;
}

.left {
  width: 30%;
  padding: 8px;
  border-color: white;
  /*
  background-color: rgb(152, 168, 134);
  */
  background-color: #ebebeb;
}

.topbar {
  height: 9%;
  background-color: #8CBA9A;
  margin: 8px;
}

.ingredientAdder {
  width: 90%;
  margin-left: 5%;
  margin-top: 8px;
  /*
  -ms-transform: translate(50%, 10%);
  transform: translate(50%, 10%);
   */
}

.pantrybox {
  /*line-height: 70px;
  */
  margin: 8px;
  margin-top: 16px;
  height: 87%;
  background-color: #8CBA9A;
  font-size: 1.5vw;
}

.ingredientslist {
  margin-left: 16px;
  margin-right: 16px;
  height: 78%;
  background-color: white;
  font-size: 1.6vw;
  color: grey;
  overflow-wrap: anywhere;
}

.buttonscontainer {
  margin: 4px;
  padding: 0px;
  height: 10.3%;
  background-color: #8CBA9A;
}

.right {
  /*
  text-align:center;
  */
  width: 68%;
  border-color: white;
  background-color: #ebebeb;
}

.searchbar {
  height: 7%;
  width: 90%;
  padding: 5%;
  border-radius: 5px;
  background-color: white;
  color: grey;
  font-size: 17px;
  /*
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-family: "Gill Sans", sans-serif;
  */
}

#searchbutton {
  /*height: 8%;
  */
  width: 25%;
  background-color: lightgreen;
  border-color: darkgreen;
}

#pantrydeletebutton {
  width: 100%;
  margin: 5px; /* or whatever you like */
  font-size: 1vw;
}

#pantrygeneratebutton {
  width: 100%;
  margin: 5px; /* or whatever you like */
  font-size: 1vw;
}

#addbutton {
  width: 40%;
  margin-left: 30%;
  margin-top: 4px;
  font-size: 1vw;
}

.buttons {
  margin: 5px;
}

.rightTop {
  height: 8%;
  background-color: #ebebeb;
}

.search {
  width: 99.1%;
  margin-left: 0%;
  margin-top: 16px;
  font-size: 1.5vw
}

.rightBottom {
  border-radius: 5px;
  font-size: 1.5vw;
  height: 90.3%;
  background-color: #8CBA9A;
}

.recipeBox {
  margin: 16px;
  height: 88%;
  background-color: white;
  font-size: 1.5vw;
  overflow: scroll;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
}